# CodeIgniter cache (uploaded) files
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
!application/cache/uploads/index.html

# main .htaccess file (used mainly just for URL Rewriting)
.htaccess

# log files by CodeIgniter
application/logs/*
!application/logs/index.html
